   [Desktop Entry]
   Name=Pomodoro-app
   Exec=/home/sergio/Documentos/proyectos/pomodoro-app/dist/pomodoro-app
   Icon=/home/sergio/Documentos/proyectos/pomodoro-app/img/tomato.png
   Type=Application
   Categories=Utility;