   [Desktop Entry]
   Name=Pomodoro
   Exec=/home/sergio/Documentos/proyectos/pomodoro-app/dist/pomodoro
   Icon=/home/sergio/Documentos/proyectos/pomodoro-app/img/tomato.png
   Type=Application
   Categories=Utility;